<div class="right_body">
	<ul class="menu">
		<li class="<%= 'active' if params[:controller] == 'downloads' and params[:action] == 'index' %>">
			<a href="/downloads">
				<span class="font_row">&lt;</span>
				全部
			</a>
		</li>
		<li class="<%= 'active' if params[:controller] == 'downloads' and params[:action] == 'show_kind' and params[:kind] == '成立社团相关' %>">
			<a href="/downloads/kind/成立社团相关">
				<span class="font_row">&lt;</span>
				成立社团相关
			</a>
		</li>
		<li class="<%= 'active' if params[:controller] == 'downloads' and params[:action] == 'show_kind' and params[:kind] == '社团事务相关' %>">
			<a href="/downloads/kind/社团事务相关">
				<span class="font_row">&lt;</span>
				社团事务相关
			</a>
		</li>
		<li class="<%= 'active' if params[:controller] == 'downloads' and params[:action] == 'show_kind' and params[:kind] == '场地借用相关' %>">
			<a href="/downloads/kind/场地借用相关">
				<span class="font_row">&lt;</span>
				场地借用相关
			</a>
		</li>
	</ul>
</div>
