<div class="head_body">
	<p class="main_title">
		影音中心
	</p>
	<div class="web_map">
    <%= link_to "首页", root_path %>
		<span class="map_go">>></span>
    <%= link_to "影音中心", albums_path %>
		<span class="map_go">>></span>
    <%= @video.name %>
	</div>
</div>
