<div class="right_body">
	<ul class="menu">
		<li class="active">
			<a href="/albums">
				<span class="font_row">&lt;</span>
				相册
			</a>
		</li>
		<li>
			<a href="/videos">
				<span class="font_row">&lt;</span>
				视频
			</a>
		</li>
	</ul>
</div>
