.inner_body .main_title{
	font-size:28px;
	color:#2b2b2b;
	font-family:"微软雅黑","Tahoma","黑体";
	text-align:center;
}
.inner_body .web_map{
	font-size:12px;
	color:#3c3c3c;
}
.inner_body .web_map a{
	color:#3c3c3c;
}
.inner_body .left_body .content{
	font-family:"微软雅黑","Tahoma","黑体";
}
.head_body{
	padding-bottom:10px;
	border-bottom:2px solid #f0f0f0;
}
.inner_body .right_body .menu{
	font-size:16px;
	margin-top:20px;
	margin-left:20px;
}
.inner_body .right_body .menu a{
	color:#2b2b2b;
	font-family:"微软雅黑","Tahoma","黑体";
}
.inner_body .right_body .menu>li{
	margin-bottom:15px;
}
.inner_body .right_body .menu>li>a{
	font-size:18px;
}
.inner_body .right_body .menu .font_row{
	position:absolute;
	margin-left:-13px;
	visibility:hidden;
}
.inner_body .right_body .menu .tree_menu>li>a:hover{
	color:#1ba0e1;
	text-decoration:none;
}
.inner_body .right_body .menu .tree_menu>li>a:hover>.font_row{
	visibility:visible;
}
.tree_root>.tree_menu{
	margin-left:20px;
	margin-top:10px;
}
.tree_root>.tree_menu>li{
	margin-bottom:10px;
}